[submodule "vim/pack/default/start/fzf.vim"]
	path = vim/pack/default/start/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule ".vim/pack/default/start/fzf.vim"]
	path = .vim/pack/default/start/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule ".vim/pack/default/start/vim-mucomplete"]
	path = .vim/pack/default/start/vim-mucomplete
	url = git@github.com:lifepillar/vim-mucomplete.git
